<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#" (click)="showMain()"> TEOB</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav" (click)="notShowMain()">
          <a class="nav-link" *ngIf="!_auth.isUserLoggedIn()" routerLink="/login" routerLinkActive="active">Logowanie</a>
          <a class="nav-link" *ngIf="!_auth.isUserLoggedIn()" routerLink="/register" routerLinkActive="active">Rejestracja</a>  
          <a class="nav-link" *ngIf="_auth.isUserLoggedIn()" routerLink="/panel" routerLinkActive="active">Panel użytkownika</a> 
          <a class="nav-link" *ngIf="_auth.isUserLoggedIn()" routerLink="/table" routerLinkActive="active">Tablica</a>
          <a class="nav-link" *ngIf="_auth.isUserLoggedIn()" routerLink="/search" routerLinkActive="active">Użytkownicy</a>   
      </ul>
    </div>
  </nav>    
  <div class="container" >
    <div class="divek" *ngIf="main">
      <h1>The End Of Boredom</h1>
      <h2>Serwis społecznościowy stworzony dla osób,<br> które chcą przestać się nudzić!</h2>
    </div>
    <router-outlet></router-outlet>            
  </div>
