
.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }

.countInterests:hover{
    opacity : 0.70;
    filter : alpha(opacity=70);
    cursor:pointer;
}  

.ownerPost:hover{
    opacity : 0.70;
    filter : alpha(opacity=70);
    cursor:pointer;
    color: blue;
}  

.foo {
    right: 0;
  }

/* .btn,.btn-primary, .form-control{
    background-color: red;
  } */
  .btn-primary,
  .btn-primary:hover,
  .btn-primary:active,
  .btn-primary:visited,
  .btn-primary:focus {
      background-color: black;
      border-color: black;
      color: white;
  }

  .card{
    background-color: darkgray;
  }
  textarea{
    background-color: darkgray;
  }
  .col-6{
    background-color: darkgray;
  }

  #btnSearch,
  #btnClear{
      display: inline-block;
      vertical-align: top;
  }


  .btn-secondary,
  .btn-secondary:hover,
  .btn-secondary:active,
  .btn-secondary:visited,
  .btn-secondary:focus {
      background-color: black;
      border-color: black;
      color: white;
  }