.container {
    display: flex; 
}

.niezainteresowany {
    background-color: white;
    color: black;
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }

.countInterests:hover{
    opacity : 0.70;
    filter : alpha(opacity=70);
    cursor:pointer;
}  

.ownerPost:hover{
    opacity : 0.70;
    filter : alpha(opacity=70);
    cursor:pointer;
    color: blue;
}  