<div class="main">
    <div class="card-header">
        <h1 class="mb-0" style="text-align:center"><b>Użytkownicy</b></h1>
    </div>
    <div class="card container">
        <div class="row">
            <button (click)="sugestieUzytkownikow()" type="button"
                class="btn btn-primary form-control">Sugestie</button>
        </div>
        <div class="row">
            <input class="col-4" placeholder="nazwa użytkownika" [(ngModel)]="username">
            <input class="col"  placeholder="upodobania" [(ngModel)]="likes">
        </div>
        <div class="row">
            <button (click)="wyszukajUzytkownikow()" type="button"
                class="btn btn-primary form-control">Wyszukaj</button>
        </div>
    </div>
    <div class="row border"  *ngFor="let user of users | async">
    
        <div class="col">
            <div class="row"><img class="rounded-circle responsive" src="{{user.profilePhotoURL}}" id="profilePhoto"></div>
            <div class="row"><b>{{user.username}}</b></div>
        </div>
        <div class="col">
            <div class="row">Imie: {{user.firstName}}</div>
            <div class="row">Nazwisko: {{user.secondName}}</div>
            <div class="row">Numer: {{user.numberPhone}}</div>
            <div class="row">Upodobania: {{user.likes}}</div>
            <div class="row">Płeć: {{user.gender}}</div>
            <div class="row">Poszukuje: {{user.lookingFor}}</div>
        </div>
        <div class="col">Opis: {{user.description}}</div>
    
    </div>
</div>